$accent-color: #39cdcc;

$hover-color: #0f9d9d;

$main-input-color: rgba(84, 95, 125, 0.15);

$main-fontColor: rgba(33, 63, 125, 1);

$main-fontColorOpacity: rgba(33, 63, 125, 0.5);

$sub-fontColor: #2d416f;

$sub-fontColorOpacity: rgba(84, 95, 125, 0.6);

$forgot-passwordColor: rgba(57, 205, 204, 1);
