@use "../../styles/variables/_colors.scss" as colors;
@use "../../styles/variables/_fonts.scss" as fonts;

.mainContainer {
    .body {
        display: flex;
        width: full;
        background-color: #eee;
        .inner {
            width: 74%;
        }
    }
}
